<center><h2>Employee Task</h2>
 Emp-id:
     <input type="text" ng-model="vm.user.emp_id"> &nbsp;
    <br>Name:
    <input type="text" ng-model="vm.user.Name">&nbsp;<br>Designation:
    <input type="text" ng-model="vm.user.Designation"> &nbsp;<br>From date
    <input type="text" ng-model="vm.user.from_date"> &nbsp;<br>Due date
    <input type="text" ng-model="vm.user.due_date"> &nbsp;<br>Assigned by
    <input type="text" ng-model="vm.user.assigned_by"> &nbsp;&emsp;&emsp;
     <br><button ng-click="vm.insertet(vm.user)"> Add </button>
     </center>
