<center><h2>Leave Application</h2>

 Emp-id:<input type="text" ng-model="vm.user.empid"> &nbsp;<br>Leave application For date:
    <input type="text" ng-model="vm.user.lafd">&nbsp;<br>Leave application on:
    <input type="text" ng-model="vm.user.lao"> &nbsp; <br>Date of return
    <input type="text" ng-model="vm.user.dor"> &nbsp; <br>Reason for leave
    <input type="text" ng-model="vm.user.rsl"> &nbsp; <br>Is approved
    <input type="text" ng-model="vm.user.ia"> &nbsp;&emsp;&emsp;
     <br><button ng-click="vm.insertla(vm.user)"> Add </button>
    </center>